.activity-margin {
  margin-bottom: 2.222rem;
}

.offer-item:not(:last-child) {
  margin-bottom: 10px;
}

.offer-item .blue-panel {
  font-size: 1.25rem;
  min-height: 80px;
  padding: 0 2rem;
}

@media (max-width: 1199px) {
  .offer-item .blue-panel {
    font-size: 1rem;
  }
}